<!DOCTYPE html>

<html>

<head>
    <title>Contoso Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="banner">
        <div id="menu">
            <div class="container">
                <div class="row">
                    <ul>
                        <li class="selected">home</li>
                        <li>flights</li>
                        <li>hotels</li>
                        <li>cars</li>
                        <li>cruises</li>
                        <li>passports</li>
                        <li>visas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Contoso Travel!</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="translate">Translate a sign</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="train">Tell us what someone looks like</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="detect">Find out who's in a picture</a>
            </p>
        </div>
    </div>
    
</body>

</html>